/* import tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calculate Font Sizes Based on Screen Size */
:root {
  --fluid-min-width: 375;
  --fluid-max-width: 1440;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

/* The Different Ranges of Font Sizes Used */
:root {
  --f--1-min: 14;
  --f--1-max: 16;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 16;
  --f-0-max: 18;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 16;
  --f-1-max: 20;
  --step-1: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 18;
  --f-2-max: 22;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 28;
  --f-3-max: 40;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 40;
  --f-4-max: 76;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
}

/* Classes For Responsive Fonts */
.text-step-0 {
  font-size: var(--step-0);
}

.text-step-1 {
  font-size: var(--step-1);
}

.text-step--1 {
  font-size: var(--step--1);
}

@layer base {
  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-poppins font-medium bg-white text-manatee overflow-x-hidden;
  }

  body {
    font-size: var(--step-0);
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-onyx;
  }

  h4 {
    @apply font-bold text-white;
  }

  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
    letter-spacing: -0.75px;
  }

  h3,
  p {
    font-size: var(--step-2);
  }

  nav {
    font-size: 1rem;
  }
}

@layer components {
  .btn {
    @apply inline-block py-4 px-10 font-bold text-xl text-white bg-maximum-blue-green hover:bg-[#9be3e2] focus:bg-[#2ad0d0] focus:outline-[#9be3e2] rounded-full duration-200 shadow-sm;
  }
}

/* Prevent the responsive font-sizes from increasing above the sizes defined below on XL sceens */
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 76px;
  }

  h2 {
    font-size: 40px;
  }

  h3,
  p {
    font-size: 22px;
  }
}

/* Custom Container Styles */
.content-wrapped {
  max-width: 69.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1440px) {
  .content-wrapped {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Hamburger Menu */
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  cursor: pointer;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9e9aa8;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(6px, 6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translate(-5.5px, 6px);
}

/* Custom Styles for Link Shortener and Stats Section */
.shortened-links-wrapper li:not(:last-child) {
  margin-bottom: 0.875rem;
}

.slideIn {
  animation: 0.5s ease-in-out slideIn;
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.shorten-bg-img {
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50px -30px;
}

.stat-cards li:not(:last-child) {
  margin-bottom: 5.625rem;
}

@media (min-width: 976px) {
  .shorten-bg-img {
    background-image: url("../../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
  }

  .stat-cards li {
    margin-bottom: 0 !important;
  }

  .stat-cards li:nth-child(3n + 2) {
    transform: translateY(44px);
  }

  .stat-cards li:nth-child(3n + 3) {
    transform: translateY(88px);
  }
}

/* Custom Styles for Call to Action Section */
.boost-bg-img {
  background-image: url("../../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 976px) {
  .boost-bg-img {
    background-image: url("../../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Custom Styles for Footer Section */
.footer-links-wrapper li:not(:last-child) {
  margin-bottom: 0.75rem;
}
